.site_logo{
	width:200px; 
	height:200px;
	display:inline-block;
}
.app_logo{
	width:40px; 
	height:40px;
	display:inline-block;
}

.navbar-nav>li>a.profile-image {
    padding-top: 10px;
    padding-bottom: 10px;
}

.app_topbar{
	height:60px;
}

@media screen and (min-width: 768px){
.app_topbar	.nav>li>a {
	    padding: 10px !important;
	}
}
.app_footer{
	padding: 10px;
	font-size:12px;
}